@tailwind base;
@tailwind components;
@tailwind utilities;


/* #innroad-widget label {
    margin: 0;
}             
div#innroad-widget {
    line-height: normal;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-sizing: unset;
    margin-top:50px;
} */
